* {
  margin: 0;
  padding: 0;

}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(58, 57, 57, 0.5), rgba(0, 0, 0, 0.5));
}

img {
  height: 98%;
  width: 100%;
}


.login-card {
  height: 450px;
  width: 350px;
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  background-color: whitesmoke;
}

input {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  border-bottom: #196F79 4px solid;
  cursor: pointer;
  border: hidden;
}

button {
  margin-top: 20px;
  background-color: #196F79;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  
  
}

#login-btn {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#login {
  color: #196F79;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

p {
  font-size: 18px;
  margin-top: 20px;
}